*{margin:0; padding: 0;}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background: #00855D; 
	font-size: 1em;
	line-height: 1.5em;

    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}



/* Estas líneas de CSS las usaremos para dar estilo a la cabecera: */



/* Iniciar sesion */

.iniciarSesion{
	display: flex;
	gap: 160px;
	margin: auto;
	padding: 20px 15px 20px;
	color: white;
}

#imagenSign{
	height: 900px;
	width: 130000px;
}

